@font-face {
  font-family: "mapoliceCV";
  src: url(SpecialElite.ttf);
}
body{
  font-family: "mapoliceCV", arial, sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.asouligner{
   text-decoration: underline; 
   text-decoration-color: black;
   text-decoration-thickness: 2px;
}
.asoulignerbleu{
  text-decoration: underline; 
  text-decoration-color: #0077B5;
  text-decoration-thickness: 2px;
}
header{
  justify-content: space-around;
  background-color: #0077B5;
  color: black;
  text-align: center;
}
#metier{
  background-color: white;
  font-size: 1.5em;
}
#mon_nom{
  background-color: white;
}
#prenom{
  color:#0077B5;
}
#divphoto{
  background-color: #0077B5;
  padding-top: 20px;
}
img{
  max-width: 200px;
  border-radius: 50%;
}
h1{
  padding-top: 3px;
  margin: 0px;
}
h2{
  text-align: center;
  background-color: black;
  padding-top: 5px;
}
header h2{
  color: #0077B5;
}
main h2{
  color: white;
}
footer{
  background-color: #0077B5;
}
footer h2{
  color: #0077B5;
}
#logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  padding-bottom: 20px;
}