@font-face {
  font-family: "mapoliceCV";
  src: url(OpenSans-Regular.ttf);
}
body{
  font-family: "mapoliceCV", arial, sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.asouligner{
   text-decoration: underline; 
   text-decoration-color: black;
}
.asoulignerbleu{
  text-decoration: underline; 
  text-decoration-color: #0077B5;
}
strong{
  font-style: bold;
}
header{
  justify-content: space-around;
  color: black;
  text-align: center;
  margin-bottom: 3vw;
}
.prenom{
  color:#0077B5;
}
.metier{
  font-size: 1.5em;
}
#divphoto{
  padding-top: 4vw;
  text-align: center;
}
img{
  max-width: 200px;
  border-radius: 50%;
  border: solid black 3px;
}
h1{
  padding-top: 3vw;
  margin: 0px;
}
h4{
  font-style: italic;
}
#sidebar{
  background-color: #0077B5;
  color: black;
}
#sidebar h2{
  text-align: center;
  background-color: black;
  color: #0077B5;
}
#sidebar p{
  padding-left: 10%;
  padding-right: 10%;
}
#nomPC{
  display: none;
}
main h2{
  display: block;
  border-bottom: solid 2px  #0077B5
}
footer{
  background-color: #0077B5;
}
#mesrecommandations{
  padding: 10px;
}
footer h2{
  color: #0077B5;
  text-align: center;
  background-color: black;
}
#logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
  padding-bottom: 20px;
}
#logos i{
  border: 2px solid black;
  border-radius: 50%;
  padding: 15px;
}









@media (min-width: 768px){
  #mesrecommandations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #formation{
    padding: 20px;
  }
  #xppro{
    padding: 20px;
  }
}



@media (min-width: 991px){
  .container{
    display: flex;
    flex-direction: row;
  }
  header{
    display: none;
  }
  #nomPC{
    display: block;
  }
  .mon_nom{
    font-size: 2vw;
  }
  #contact p{
    text-align: left;
    margin-left: 1.5em;
  }
  #sidebar{
    position: relative;
    max-width: 350px;
  }
  #loisirs{
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  text-align: center;
  }
  
  main{
    display: flex;
    flex-direction: column;
    margin: 40px;
  }
  footer{
    background-color: white;
  }
  footer h2{
    background-color: white;
    color: black;
    text-align: left;
  }
}
